#footer {
	margin-top: 5em;
	padding: 3.2em 0 2em 0;
	background: $black-default;

	.img-logo {
		img {
			padding-bottom: 1em;
			display: inline;
		}
	}

	.social {
		padding: 1em 0;
		p {
			color: $white-default;
			font-size: 1.2em;
		}
		i {
			font-size: 1.2em;
			color: $white-default;
			margin: 0.3em 1.5em 0 1.5em;
		}
		.facebook {
			font-size: 1.3em;
		}
		.whatsapp {
			font-size: 1.3em;
		}
		.instagram {
			font-size: 1.3em;
		}
	}
}